numpy
pandas
# for windows
# --index-url https://download.pytorch.org/whl/cpu
# torch==2.5.1+cpu
# --extra-index-url https://pypi.org/simple
# for mac:
torch
matplotlib
uvicorn
websockets
fastapi
python-multipart
sqlalchemy
alembic
psycopg2-binary
pika
google-generativeai